<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Prepper</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <p>

    </p>
    <div class="container">
        <h1>About Prepper</h1>
        <p>
            Prepper is your go-to application for emergency preparedness and disaster management. Designed with simplicity and utility in mind, Prepper equips users with the tools and information needed to stay ready for any situation.
        </p>
        <p>
            With real-time updates on weather, earthquakes, air quality, and curated news articles, Prepper ensures that you have all the data you need at your fingertips. Whether you're preparing for a natural disaster or staying informed about global events, Prepper has you covered.
        </p>
        <h2>Our Mission</h2>
        <p>
            At Prepper, our mission is to empower individuals and communities to face uncertainties with confidence and knowledge. We believe that being prepared is not just a choice—it's a necessity.
        </p>
        <h2>Features</h2>
        <ul>
            <li>Real-time weather updates with detailed insights.</li>
            <li>Earthquake alerts tailored to your location.</li>
            <li>Air quality monitoring for healthier living.</li>
            <li>Curated news articles focused on disaster preparedness and global events.</li>
            <li>User preferences for personalized experiences and alerts.</li>
        </ul>
        <h2>Contact Us</h2>
        <p>
            oonim001@gold.ac.uk
        </p>
    </div>
</body>
</html>
